.add-post-container {
    max-width: 600px;
    margin: 20px auto;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.add-post-container h2 {
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button[type="submit"] {
    padding: 10px 20px;
    background-color: #4267B2;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

button[type="submit"]:hover {
    background-color: #3b5998;
}

.file-upload {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px; /* Добавлено для разделения на разные строки */
    font-size: 23px;
    max-height: 500px; /* Установите максимальную высоту блока */
    overflow-y: auto; 
}

.file-upload label {
    cursor: pointer;
}


.file-upload input[type="file"] {
    display: none;
}


.selected-photo {
    width: 100px; /* Задайте нужную ширину для изображений */
    height: auto; /* Автоматическая высота */
    margin-right: 10px; /* Отступ между изображениями */
}
